/* globals.css */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.card {
  border-radius: 1rem;
}

.card-body {
  padding: 2rem;
}

.btn {
  border-radius: 1rem;
}

.numero-sorteado {
  width: 60px;
  height: 60px;
}
